output/
output_old/
compressed_outputs/
censuspdf/
cvat_upload/
cvat_download/
effocr_traindata/
review_results/
llm_input/
raw/
data/
models/
bb_histograms/
bbox_ocrs/
bounding_boxes/
html_output/
html_output_bbox/
keys/
effocr_traindata2/
temp_cells/
trocr_finetuned/
valid_output/
metatable_raw/
metatable_llm/
metatable_html/
annotated_tables/
input_pdfs/
ocr_results/
parsed_layouts/
pdfs_with_bounding_boxes/
pdfs_with_layouts/
pdfs_with_ocr/
model_training_input/
temp_bbox/
temp_images/
temp_overlays/
text_elements/
__pycache__/
tools/cvat_dataset/
training_data/
static/
ocr_llm_results/
review_results/
prompts/
super/
*.csv
*.xlsx
*.zip

